.signin_main_contain {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(60deg, #feaf00, #f8d442);
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin_container {
    min-height: 550px;
    width: 475px;
    background-color: white;
    border-radius: 20px;
    padding: 40px 20px;
}
.signin_input_label {
    color: #6c6c6c;
}
.signin {
    background-color: #feaf00;
    color: white;
    padding: 10px 185px !important;
    border: none;
    border-radius: 10px;
    transition: 1000ms;
}
.signin:hover {
    background-image: linear-gradient(90deg, #feaf00, #f8cb69);
    transition: 1000ms;
}

.anchor {
    color: #feaf00;
}
.title {
    font-weight: 700;
}
.pre_title {
    display: inline-block;
    height: 50px !important;
    width: 8px;
    background-color: #feaf00;
}
.title_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.toggle-button {
    background-color: rgb(234, 232, 232) !important;
    color: rgb(0, 0, 0);
    border: 0px solid grey !important;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.toggle-button:hover {
    color: rgb(0, 0, 0) !important;
}

.toggle-button.active {
    background-color: #f8d442 !important;
    color: rgb(0, 0, 0) !important;
    border: none !important;
}

@media only screen and (max-width: 768px) {
    .container {
        height: 500px;
        width: 330px;
        background-color: white;
        border-radius: 20px;
        padding: 40px 20px;
    }
    .pre_title {
        height: 40px !important;
    }
    .signin {
        text-align: center;
        padding: 10px 115px !important;
    }
}
