/* src/Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.modal-content {
  background: transparent;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: 600px;
}

.modal-close {
  position: absolute;
  top: 105px;
  right: 50px;
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.deleteModal_content {
  background-color: white;
  color: black;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.delete_buttons {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
